@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap');
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

html{
    height: 100%;
}
.container{
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header-nav"
    "banner"
    "aside"
    "article"
    "footer"
    ;
}

/* Page Area */

.header-nav{
    grid-area: header-nav;
    background-color: #9966a1;
}

.navbar{
    grid-area: navbar;
    background-color: #9966a1;
}

.banner{
    grid-area: banner;
    background-color: #9966a1;
}

.aside{
    grid-area: aside;
    background-color: #F0B9C7;
}

.article{
    grid-area: article;
    background-color: #9966a1;
}

.footer{
    grid-area: footer;
    background-color: #9966a1;
}

@media (min-width: 900px) {
    .container{
        grid-template: 
        "header-nav header-nav" 100px
        "banner banner" auto
        "aside article" auto
        "footer footer" auto / 
        auto auto;
    }  
}

/*Header*/
img.logo{
    width: 80px;
}

#logo_link{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}

/*MENU*/
nav {
    grid-row: 1/2;
    grid-column: 2/7;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    width: 100%;
    height: 100px;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
    text-align: center;
}
nav a:hover {
    color: #9966a1;
    background-color: #F0B9C7; 
}

header {
    background-color:#9966a1;
    display: grid;
    grid-template-columns: 200px auto;
}

/* Banner CSS*/
img.imagen-banner{
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

.Texto-banner p{
    position: absolute;
    width: 50vw;
    height:10vh;
    justify-content:right;
    bottom: 40%;
    font-size:smaller;
}

/*Aside*/
    /*Wrap*/
.wrap{
        display:grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto auto;
    }  


div.wrap{
    margin: 1em 1em 1em 1em;
    width: auto;
    height: auto;
    background-color: #9966a1;
}

img.imagen1{
    margin: 1em 1em 1em 1em;
    width: 200px;
    height: 200px;
    justify-self: left;
    border-style: ridge;
    border-color: #F0B9C7;
    border-width: 0.5em;
}

div.Texto-wrap{
    width: 60%;
    height: auto;
    justify-self: left;
    bottom: 20px;
    font-size:smaller;
}

img.imagen2{
    margin: 1em 1em 1em 1em;
    width: 200px;
    height: 200px;
    justify-self: left;
    border-style: ridge;
    border-color: #F0B9C7;
    border-width: 0.5em;
}

div.Texto-wrap2{
    width: 60%;
    height: auto;
    justify-self: left;
    bottom: 20px;
    font-size:smaller;
}

/*footer*/
footer {
    background-color:#9966a1;
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px 50px;
}
footer .social img {
    padding-top: 15px;
    width: auto;
    display: inline-block;
}
footer h3 {
    color: #9bb84d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}
footer a {
    color: #9bb84d;
    text-decoration: none;
}
footer a:hover {
    color: #9bb84d;
    text-decoration: underline;
}
.social {
    justify-self: end;
}

